<h1 class="text-center">Terminálok</h1>

<p-table [value]="terminals" dataKey="id" editMode="row">
  <ng-template pTemplate="header">
    <tr>
      <th>Azonosító</th>
      <th>Megnevezés</th>
      <th>
        @if (!clonedTerminal) {
        <button pButton type="button" icon="pi pi-plus" (click)="newTerminal()"></button>
        }
      </th>
    </tr>
    @if (clonedTerminal && clonedTerminal.id == 0) {
    <tr>
      <td></td>
      <td>
        <input pInputText type="text" class="w-8" [(ngModel)]="clonedTerminal.room" />
        <p-dropdown [options]="directions" class="w-2" [(ngModel)]="clonedTerminal.direction"></p-dropdown>
      </td>
      <td>
        <button pButton type="button" icon="pi pi-check" class="mr-2" (click)="saveTerminal()"></button>
        <button pButton type="button" icon="pi pi-times" (click)="cancelEdit()"></button>
      </td>
    </tr>
    }
  </ng-template>
  <ng-template pTemplate="body" let-terminal let-ri="rowIndex">
    <tr [pEditableRow]="terminal">
      <td>{{terminal.id}}</td>
      <td>
        @if (clonedTerminal && clonedTerminal.id == terminal.id) {
        <input pInputText type="text" class="w-8" [(ngModel)]="clonedTerminal.room" />
        <p-dropdown [options]="directions" class="w-2" [(ngModel)]="clonedTerminal.direction"></p-dropdown>
        }
        @else {
        {{terminal.name}}
        }
      </td>
      <td>
        @if (clonedTerminal) {
        @if (clonedTerminal.id == terminal.id) {
        <button pButton type="button" icon="pi pi-check" class="mr-2" (click)="saveTerminal()"></button>
        <button pButton type="button" icon="pi pi-times" (click)="cancelEdit()"></button>
        }
        } @else {
        <button pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
          (click)="editInit(terminal)"></button>
        <button pButton pRipple type="button" pInitEditableRow icon="pi pi-trash" class="ml-2"
          (click)="deleteTerminal(terminal)"></button>
        }
      </td>
    </tr>
  </ng-template>
</p-table>
<p-confirmDialog></p-confirmDialog>
